nav {
  background-color: blue;
  height:125px;
}
h1.shop {
  position:relative;
  top:25px;
  left:25px;
}
h1.shop a {
  text-decoration: none;
  color: black;
}
.icon {
  float:right;
  margin-right:10px;
  margin-top: 3px;
  color:black;
}
p.total {
  float:right;
  margin-right:100px;
  padding:10px;
  text-decoration: none;
  color: black;
  position: relative;
  bottom:12px;
}
h3.des {
  margin-left: 35px;
}
img.yoyo {
  width:150px;
  margin-left: 50px;
}
p.quantity {
  position: relative;
  left: 325px;
  bottom: 155px;
}
span.number {
  position: relative;
  top: 39px;
  left: 48px;
  border: 2px solid lightgray;
  padding:8px;
}
div.buttons {
  position:relative;
  left:260px;
  bottom: 85px;
}
img.cartpics {
  width: 200px;
  position: relative;
  bottom: 12px;
}
li.cartlist {
  list-style-type: none;
}
h3.cartdesc {
  font-weight: bold;
}
h2.carttext {
  text-align:center;
  padding:20px;
  font-weight: bolder;
  font-size: 50px;;
}
p.carttext {
  text-align:center;
  padding:5px;
  font-size: 30px;
}

Button.empty {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, 200%);
}
.checkout-button {
  padding:15px;
}
div.buttons2 {
  position: relative;
  left: 38%;
  -ms-transform: translate(-50%, -40%);
  transform: translate(1%, -40%);
}
h3.price {
  color: Red;
  position: relative;
  left: 18%;
  bottom: 38px;
}
div.sorting {
  position: relative;
  left: 40%;
}